body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background-color: #d1cfcf;
    color: #333;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /*media queries for small screens*/
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .sidenav i {
    padding: 5px;
    margin-right: 3px; /*added space between icons and anchor tags*/
  }

  /* Dashboard styles */
#dashboardContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#dashboardData {
  display: flex;
  justify-content: space-between;
}

#dashboardData div {
  flex-basis: 45%;
}

#dashboardData h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

#dashboardData p, #dashboardData ul {
  color: #666;
}

/* Live stock data styles */
#liveStockData {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#stockChart, #stockNews {
  margin-bottom: 20px;
}

#stockChart h3, #stockNews h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

#stockChart p, #stockNews ul {
  color: #666;
}

.article {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 9px;
  overflow: hidden;
  width: calc(33%); /* Set width to a third of the container */
  display: inline-block; /* Make articles display inline */
  vertical-align: top; /*Align articles to the top */
  box-sizing: border-box;
}

.article img {
  width: 100%;
  height: 380px;
  display: block;
  border-radius: 5px 5px 0 0; /* Border radius for the image */
  object-fit: cover;
}

.article a {
  text-decoration: none; /* Remove text decoration from anchor tag */
}

.article h3 {
  font-size: 18px;
  margin: 10px 0 0 10px;
  color: #333; /* Change color of the h3 element */
}

.article p {
  margin: 10px;
  color: #666; /* Change color of the p element */
}

.newslink {
  border-radius: 8px;
  background-color: #d1cfcf;
  padding: 10px;
  text-align: center;
  margin-bottom: 7px;
}

.newslink a {
  text-decoration: none;
  color: #666;
  font-weight: 600;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .sidenav {
      width: 200px;
  }
  
  #main {
      margin-left: 200px;
  }
}